@charset "utf-8";
@import
  "./common/_reset.scss",
  "./common/_variable.scss",
  "./common/_animation.scss",
  "./common/_iconfont.scss",
  "./common/_github-markdown.scss";

// mm 在autoprefixer不会做编译，自己加吧
@mixin mm {
  display: -webkit-box;
  -webkit-box-pack: center;
  box-pack: center;
  -webkit-box-align: center;
  box-align: center;
}

body { line-height: 1;}
img { width: 100%;}
.hidden { display: none;}
.vh { visibility: hidden;}
.pdr16 { padding-right: 16px;}
[v-cloak] {
  display: none;
}
